.heading-module3{
    background-size: cover;
background-image: url('https://res.cloudinary.com/damoxc2du/image/upload/v1716802228/Group_72_kxpwro.png');
width: 1300px;
height: 700px;
top: 2278px;
gap: 0px;
opacity: 5px;
margin-left: 180px;
}
.bg-container-module3{
    background: url('https://res.cloudinary.com/damoxc2du/image/upload/v1716803732/Rectangle_4_1_wdt1cn.png');
    background-size: cover;
height: 848px;


}