.heading-module2{
    margin-left: 190px;
    background-image: url('https://res.cloudinary.com/damoxc2du/image/upload/v1716801587/Group_67_atwcvn.png');
    background-size: cover;
    
    width: 150vh;
height: 480px;
opacity: 0px;


    }
    