.heading-module4{
    background-image: url("https://res.cloudinary.com/damoxc2du/image/upload/v1716817384/IMG_20240527_190911_rsb0qb.png");
    background-size: cover;
    width: 1750px;
    height: 120vh;

}