.heading-module1{
margin-left: 40px;
background-image: url('https://res.cloudinary.com/damoxc2du/image/upload/v1716798895/Group_66_merxts.png');
background-size: cover;
width: 1730px;
height: 2000px;
margin-left: 120px;
opacity: 2px;

}
