/* Home.css */

.home-container {
  position: relative;
  display: flex;
  justify-content: center;

  height: 100vh;
}

.content {
  z-index: 1; 
}

.background-image {
 
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('https://res.cloudinary.com/damoxc2du/image/upload/v1716708075/Rectangle_2_aygzu6.png'); /* Add new background image URL here */
}

.right-image {
  right: 0;
  background-image: url('https://res.cloudinary.com/damoxc2du/image/upload/v1716663434/Vector_1_wxjeuk.png');
}

.hero-image {
  position: absolute;
  width: 670px;
  height: 650px;
  top: 32px; 
  right: 0; 
  z-index: 2; 
}

.additional-image {
  width: 56px;
  height: 57px;
  top: 257px;
  left: 720px;
  gap: 0px;
  opacity: 0;
  background-image: url('https://res.cloudinary.com/damoxc2du/image/upload/v1716699693/rt_1_a6rbj8.png');
}

.shape-11 {
  position: absolute;
  width: 10%;
  height: 50%;
  background-size: cover;
  background-repeat: no-repeat;
}


.new-background-image {
  width: 198px;
  height: 60px;
  top: 550px;
  left: 119px;
  gap: 0px;
  border-radius: 50px;
  
}
.bank-image{
  width: 78px;
  height: 65.37px;;

}
.social-media-content{
  background-image: url("https://res.cloudinary.com/damoxc2du/image/upload/v1716794617/Group_85_mxvfwy.png");
  background-size: cover;
  width: 25px;
height: 223.11px;
margin-top: -10px;
left: 1335px;
gap: 0px;
opacity: 0px;
margin-left: 1500px;
}
.home-page-heading{
  width: 487px;
height: 150px;
top: 275px;
margin-left: -40vh;
gap: 0px;
opacity: 0px;
font-family: Poppins;
font-size: 65px;
font-weight: 600;
line-height: 75px;
text-align: left;


}
.homepage-parg{
  width: 601px;
height: 50px;
top: 462px;
margin-left: -40vh;
gap: 0px;
opacity: 0px;
font-family: Poppins;
font-size: 20px;
font-weight: 400;
line-height: 25px;
text-align: left;
color:#4E4E4E;

}
.button-readomre{
  width: 198px;
height: 60px;
top: 550px;
left: 119px;
font-size: large;
gap: 0px;
border-radius: 50px;
opacity: 0px;
background-color: black;
color: antiquewhite;
}